.mycanvas {
	border:2px solid black;
	border-radius:15px;
	margin-top:-390px;
}
h1 {
  font-color:#A9A9A9;
  text-align:center;
}
#container {
  margin-top:25px;
}
#container a{
	text-decoration:none;
	color:#800080;
	font-size:16px;
}

#container ul li a{
	text-decoration:none;
	color:#800080;
	font-size:16px;
}
#colors {
	margin-top:140px;
}
ul {	
    list-style:none;
    margin-left:185px;
}
ul li {
	height:35px;
	width:35px;
	border-radius:60px;
	margin:7px;
}
.red {
	background: #fc4c4f;
}
.blue {
	background: #4fa3fc;
}
.yellow {
	background: #ECD13F;
}
.green{
	background:#7CFC00;
}
.orange{
	background:#FFA500;
}
.violet{
	background:#EE82EE;
}
.selected {
	border:4px solid #384047;
}
#clearcanvas {
	background-color:red;
	color:white;
	border-radius:8px;
	border:2px solid gray;
}
#erasecanvas {
	background-color:red;
	color:white;
	border-radius:8px;
	border:2px solid gray;
}
.hide{
	display: none;
}